.title {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.producttr_table {
    background-color: antiquewhite;
    border-collapse: collapse;
    width: 100%;
    
}

.producttr_table th {
    color: white;
    background-color: #3A3148;
    font-weight: 100;
    text-align: left;
    padding: 10px;
}

.producttr_table td {
    padding: 10px;
}

.producttr_button_add_product {
    display: block;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: 0;
}