.chapter_container {
    margin-bottom: 40px;
}

.chapter_header {
    font-size: 30px;
    font-weight: bold;
}

.chapter_products {
    display: flex;
    flex-wrap: wrap;
    margin-right: -36px;
    border: 1px solid red;
}