.chapter_container {
    margin-bottom: 40px;
}

.chapter_header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.chapter_products {


}

.chapter_products_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}