.card_container {
    width: 280px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-right: 36px;
}

.card_image {
    height: 280px;
}

.card_image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.card_name {
    font-size: 20px;
    font-weight: bold;
}

.card_description {
    flex-grow: 1;
}

.card_bottom_place {
    display: flex;
}

.card_button__container {
    margin-left: auto;
}