
.pincode_content {
    position: relative;
    top: 70px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pincode_header {
    margin-bottom: 20px;
    font-size: 30px;
}

.pincode_input_item {
    height: 50px;
    width: 40px;
    border-radius: 3px;
}

.pincode_inputs {
    justify-content: space-between;
    width: 50%;
    display: flex;
}