.header_main {
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 0 100px;

    background-color: rgb(243, 157, 18);
}

.right_actions {
    margin-left: auto;
    display: flex;
}

.item {
    cursor: pointer;
    margin-left: 10px;
}

.header_main a {
    color: black;
}

