
.authoriaion_content {
    position: relative;
    top: 70px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authoriaion_header {
    margin-bottom: 20px;
    font-size: 30px;
}

.authoriaion_input_item {
    padding-left: 4px;
    margin-bottom: 15px;
    height: 30px;
    width: 300px;
    border: 0.6px solid black;
    border-radius: 3px;
}

.authoriaion_enter {
    color: blue;
    cursor: pointer;
}

.authoriaion_new_account {
    cursor: pointer;
    color: brown;
}